@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #edebeb;
    color: #16272f;
}

.font-weight-500 {
    font-weight: 500;
}

.nav-container {
    .navbar {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .navbar-brand {
            color: #f55151;
        }
    }

    &.nav-fill {
        background-color: #fff;
    }
}

.btn-red {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    border: 1px solid #f55151;
    background-color: #f55151;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;

    &:hover {
        background-color: #ff8378;
        border: 1px solid #ff8378;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
    }
}

.btn-green {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    border: 1px solid #69af44;
    background-color: #69af44;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;

    &:hover {
        background-color: #5fa33a;
        color: #fff;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(60, 153, 110, 0.5);
    }
}

.btn-no-fill {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    color: #e8f1ff;
    padding: 0.75rem 2rem;

    &:hover {
        color: #ffffff;
    }
}

.btn-grey {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    border: 1px solid #e5e9f2;
    background-color: #e5e9f2;
    color: #34364a;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    transition: 0.3s;

    &:hover {
        background-color: #dce0eb;
        color: #34364a;
        border: 1px solid #e5e9f2;
    }

    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: #fff;

            &.active {
                position: relative;
                font-weight: 600;
                color: #fff;

                &::before {
                    content: "";
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                    bottom: 0;
                    height: 0px;
                    width: 50%;
                    border-bottom: 2px solid #f55151;
                }
            }
        }
    }

    &.nav-fill {
        .navbar-nav {
            .nav-link {
                color: #16272f;

                &.active {
                    color: #16272f;
                }

                &:hover,
                &:visited {
                    color: #16272f;
                }
            }
        }
    }
}

header {
    box-sizing: border-box;
    position: relative;
    background-image: url("../img/illustration/header.png");
    background-size: cover;
    background-position-x: center;
    padding: 270px 0 200px;

    .text-header {
        font-weight: 600;
        color: #ffffff;
        margin-bottom: 1.25rem;

        span {
            color: #f55151;
            text-decoration: underline;
        }
    }

    .search-box {
        width: 75%;

        .input-group {
            .search-input {
                height: 4rem;
                padding: 20px;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 30px;
                font-size: 18px;
            }

            .btn-search {
                background-color: #f55151;
                border-radius: 0 30px 30px 0;
                padding: 0 20px;
                color: #ffffff;
                font-size: 18px;
            }
        }
    }

    a {
        color: #f55151;

        &:hover {
            color: #ff7474;
        }
    }
}

header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
}

.section-recomended-jobs {

    .owl-next,
    .owl-prev {
        top: 50%;
    }

    .job-card {
        border-radius: 30px;

        .tag {
            top: 0;
            right: 0;
            padding: 10px 30px;
            background-color: #009100;
            color: #fff;
            border-radius: 0 30px 0 30px;
        }

        img {
            max-width: 120px;
            height: 120px;
            object-fit: scale-down;
            margin-bottom: 1.25rem;
        }

        .job-body {
            .job-title {
                font-weight: 500;
                font-size: 1.25rem;
                color: #16272f;
            }

            .job-company,
            .job-locations {
                font-size: 1rem;
            }

            .job-locations {
                color: #828282;
            }

            .job-date {
                font-size: .725rem;
            }
        }
    }
}

.section-recomended-jobs,
.section-job-category,
.section-company {
    padding-bottom: 7rem;

    .text-title {
        padding-top: 5rem;
        margin-bottom: 3rem;

        h2 {
            font-weight: 600;
            font-size: 2.25rem;
        }
    }

    .owl-prev,
    .owl-next {
        border-radius: 50px;
        width: 40px;
        height: 40px;
        position: absolute;
        transform: translateY(-50%);
        display: block !important;
        border: none;
        background-color: #f55151 !important;
    }

    .owl-prev {
        left: -1rem;
    }

    .owl-next {
        right: -1rem;
    }

    .owl-prev i,
    .owl-next i {
        color: #fff;
    }
}

.section-company {
    img {
        object-fit: scale-down;
        filter: grayscale(100%);
    }
}

.section-form-report {
    .report-card {
        border-radius: 30px;
        padding: 4rem;
    }
}


.section-footer {
    background-color: #454545;
    color: #fff;
}

footer {
    border-top: 0;
    background-color: #454545;
    color: #fff;
}

.footer-2-3 .list-space {
    margin-bottom: 1.25rem;
}

.footer-2-3 .footer-text-title {
    font: 600 1.5rem Poppins, sans-serif;
    margin-bottom: 1.5rem;
}

.footer-2-3 .list-menu {
    color: #fff;
}

.footer-2-3 .list-menu:hover {
    color: #ffffff;
}

.footer-2-3 hr.hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(46, 46, 90, 1);
}

.footer-2-3 .border-color {
    color: #707092;
}

.footer-2-3 .footer-link {
    color: #fff;
}

.footer-2-3 .footer-link:hover {
    color: #ffffff;
}

.footer-2-3 .social-media-c:hover circle,
.footer-2-3 .social-media-p:hover path {
    fill: #ffffff;
}

.footer-2-3 .footer-info-space {
    padding-top: 3rem;
}

.footer-2-3 .list-footer {
    padding: 5rem 1rem 3rem 1rem;
}

.footer-2-3 .info-footer {
    padding: 0 1rem 3rem;
}

.owl-stage {
    display: flex;
}

@media (max-width: 575px) {
    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: #16272f;

                &.active {
                    position: relative;
                    font-weight: 600;
                    color: #16272f;

                    &::before {
                        content: "";
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        text-align: center;
                        bottom: 0;
                        height: 0px;
                        width: 50%;
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .nav-container {
        background-color: #fff;

        .navbar {
            padding-top: .75rem;
            padding-bottom: .75rem;
        }
    }

    .section-recomended-jobs {
        .job-carousel {
            padding: 0;

            .owl-nav {
                display: none;
            }
        }
    }

    header {
        padding: 100px 0 155px;

        .text-header {
            font-size: 2.25rem;
        }

        .search-box {
            width: 100%;

            .input-group {
                .search-input {
                    height: 3rem;
                    font-size: 16px;
                }

                .btn-search {
                    padding: 0 12px;
                }
            }
        }
    }

    .footer-2-3 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 2rem 3rem;
    }

    .section-recomended-jobs,
    .section-job-category,
    .section-company,
    .section-form-report {
        padding-bottom: 2rem;
    }

    .section-form-report {
        .report-card {
            padding: 2rem;

            .text-title {
                font-size: 1.25rem;
                font-weight: 500;
            }
        }

        .btn-green {
            width: 100%;
        }
    }
}

@media (min-width: 576px) {

    .section-recomended-jobs,
    .section-job-category,
    .section-company,
    .section-form-report {
        padding-bottom: 2rem;
    }

    .section-recomended-jobs {
        .job-carousel {
            padding: 0;
        }
    }

    .nav-container {
        background: #ffffff;

        .navbar {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: #16272f;

                &.active {
                    color: #16272f;
                    position: relative;
                    font-weight: 600;

                    &::before {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    header {
        .text-header {
            font-size: 3rem;
            line-height: 1.2;
            margin-bottom: 1.25rem;
        }
    }

    .section-recomended-jobs {
        .job-carousel {
            .owl-nav {
                display: none;
            }
        }
    }

    .footer-2-3 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 2rem 3rem;
    }

    .section-form-report {
        .report-card {
            padding: 2rem;
        }

        .btn-green {
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .footer-2-3 .list-footer {
        padding: 5rem 4rem 6rem 4rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 4rem 3rem;
    }

    .section-form-report {
        .report-card {
            padding: 3rem !important;
        }

        .btn-green {
            width: unset;
        }
    }
}


@media (min-width: 992px) {
    .navbar-light {
        .navbar-nav {
            .nav-link {
                color: #fff;

                &.profile {
                    &:hover {
                        font-weight: normal;
                    }
                }

                &:hover {
                    color: #fff;
                    font-weight: 600;
                }

                &:visited {
                    color: #fff;
                }

                &.active {
                    color: #fff;
                    position: relative;
                    font-weight: 600;

                    &::before {
                        border-bottom: 2px solid #ff7468;
                    }
                }
            }
        }
    }

    .nav-container {
        background-color: transparent;
        position: relative;
        z-index: 1;
    }

    header {
        margin-top: -120px;

        .text-header {
            font-size: 3.75rem;
            line-height: 1.25;
        }
    }

    .section-recomended-jobs {
        .job-carousel {
            padding: 0 30px;

            .owl-nav {
                display: block;
            }
        }
    }

    .footer-2-3 .list-footer {
        padding: 5rem 6rem 6rem 6rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 6rem 3rem;
    }

    .section-recomended-jobs,
    .section-job-category,
    .section-company,
    .section-form-report {
        padding-bottom: 7rem;
    }

    /*login page*/
    #forgot-pass {
        color: #b80000;
        font-size: 10pt;
        margin-top: 7px;
        text-align: right;
    }

    /*register company*/
    input[type="text"] {
        border: 0;
        border-bottom: 2px solid #bbb;
        color: #bbb;
        padding: 8px 0;
        width: 100%;
        max-width: 15em;
        font-size: 20px;
    }

    input[type="text"]:focus {
        color: #3719e9;
        border-color: #3377d6;
        outline: 0;
    }

    input[type="password"] {
        border: 0;
        border-bottom: 2px solid #bbb;
        color: #bbb;
        padding: 8px 0;
        width: 100%;
        max-width: 15em;
        font-size: 20px;
    }

    input[type="password"]:focus {
        color: #3719e9;
        border-color: #3377d6;
        outline: 0;
    }
}

@media (max-width: 1023px) {}
