//Main Colors
$white: #FFFFFF;
$black-lighten: #34364a;
$black: #16272F;
$black-darker: #000000;
$red: #F55151;
$red-lighten: #FF8378;
$red-darker: #dd3636;
$green: #69AF44;
$green-darker: #5FA33A;
$light-grey: #E5E9F2;
$grey: #DCE0EB;
$orange: #FF9900;
$orange-darker: #f59300;

//Buttons Color
$button-white: $white;
$button-dark: $black;
$button-red: $red;
$button-red-hovered: $red-darker;
$button-green: $green;
$button-green-hovered: $green-darker;
$button-light-grey: $light-grey;
$button-light-grey-hovered: $grey;
$button-orange: $orange;
$button-orange-hovered: $orange-darker;