@import "../abstract/colors";

.nav-container {
    @include extra-small {
        background-color: $white;
    }

    @include small {
        background-color: $white;
    }

    @include large {
        background-color: transparent;
        position: relative;
        z-index: 1;
    }

    .navbar {
        padding-top: 2rem;
        padding-bottom: 2rem;

        .navbar-brand {
            color: $red;

            h3,
            h5 {
                color: $red;
            }
        }

        @include extra-small {
            padding-top: .75rem;
            padding-bottom: .75rem;
        }

        @include small {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

    &.nav-fill {
        background-color: $white;
    }
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            color: $white;

            &.active {
                position: relative;
                font-weight: 600;
                color: $white;

                &::before {
                    content: "";
                    position: absolute;
                    margin-left: auto;
                    margin-right: auto;
                    left: 0;
                    right: 0;
                    text-align: center;
                    bottom: 0;
                    height: 0px;
                    width: 50%;
                    border-bottom: 2px solid $red;
                }
            }

            @include extra-small {
                color: $black;

                &.active {
                    position: relative;
                    font-weight: 600;
                    color: $black;

                    &::before {
                        content: "";
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                        text-align: center;
                        bottom: 0;
                        height: 0px;
                        width: 50%;
                        border-bottom: none;
                    }
                }
            }

            @include small {
                color: $black;

                &.active {
                    color: $black;
                    position: relative;
                    font-weight: 600;

                    &::before {
                        border-bottom: none;
                    }
                }
            }

            @include large {
                color: #fff;

                &.profile {
                    &:hover {
                        font-weight: normal;
                    }
                }

                &:hover {
                    color: #fff;
                    font-weight: 600;
                }

                &:visited {
                    color: #fff;
                }

                &.active {
                    color: #fff;
                    position: relative;
                    font-weight: 600;

                    &::before {
                        border-bottom: 2px solid #ff7468;
                    }
                }
            }
        }
    }

    &.nav-fill {
        .navbar-nav {
            .nav-link {
                color: $black;

                &.active {
                    color: $black;
                }

                &:hover,
                &:visited {
                    color: $black;
                }
            }
        }
    }
}
