.wrapper {
    &.wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        color: #fff;
        transition: all 0.3s;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;

        .sidebar-items {
            margin-top: 30px;
        }

        ul {
            li {
                a {
                    &:hover {
                        color: $black;
                        text-decoration: none;
                    }
                }

                i {
                    min-width: 20px;
                    font-size: 20px;
                    color: $secondary;
                    text-align: left;
                }

                &.active {
                    i {
                        color: $red;
                    }
                }
            }
        }
    }

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        color: $red;
        font-weight: 600;
        padding: 20px;
        height: 56px;
        letter-spacing: .9px;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        display: block;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: $black;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #6d7fcc;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }

    #content {
        width: 100%;
        min-height: 100vh;
        transition: all 0.3s;

        @include extra-small {
            margin-left: 0px;
        }

        @include small {
            margin-left: 0px;
        }

        @include medium {
            margin-left: 250px;
        }
    }
}
