@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: #edebeb;
    color: #16272f;
}

.font-weight-500 {
    font-weight: 500;
}

.nav-container .navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.nav-container .navbar .navbar-brand {
    color: #f55151;
}

.nav-container.nav-logged {
    background-color: #fff;
}

.btn-fill {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    border: 1px solid #f55151;
    background-color: #f55151;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-green {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    border: 1px solid #69af44;
    background-color: #69af44;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-green:hover {
    background-color: #5fa33a;
    color: #fff;
}

.btn-fill:hover {
    background-color: #ff8378;
    border: 1px solid #ff8378;
}

.btn-no-fill {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    color: #e8f1ff;
    padding: 0.75rem 2rem;
}

.btn-no-fill:hover {
    color: #ffffff;
}

.btn-secondary {
    font: 500 0.875rem/1.25rem Poppins, sans-serif;
    border: 1px solid #e5e9f2;
    background-color: #e5e9f2;
    color: #34364a;
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.btn-secondary:hover {
    background-color: #dce0eb;
    color: #34364a;
    border: 1px solid #e5e9f2;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active {
    position: relative;
    font-weight: 600;
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.active::before {
    content: "";
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    height: 0px;
    width: 50%;
    border-bottom: 2px solid #f55151;
}

.navbar-light.nav-logged .navbar-nav .nav-link {
    color: #16272f;
}

.navbar-light.nav-logged .navbar-nav .nav-link.active {
    color: #16272f;
}

.navbar-light.nav-logged .navbar-nav .nav-link:hover,
.navbar-light.nav-logged .navbar-nav .nav-link:visited {
    color: #16272f;
}

header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background-image: url("../images/header.png");
    background-size: cover;
    background-position-x: center;
    padding: 270px 0 200px;
}

header .text-header {
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 1.25rem;
}

header .text-header span {
    color: #f55151;
    text-decoration: underline;
}

header .search-box {
    width: 75%;
}

header .search-box .input-group .search-input {
    height: 4rem;
    padding: 20px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 18px;
}

header .search-box .input-group .btn-search {
    background-color: #f55151;
    border-radius: 0 30px 30px 0;
    padding: 0 20px;
    color: #ffffff;
    font-size: 18px;
}

header a {
    color: #f55151;
}

header a:hover {
    color: #ff7474;
}

header::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.4;
    top: 0;
    right: 0;
    bottom: 0;
}

.section-recomended-jobs .owl-next,
.section-recomended-jobs .owl-prev {
    top: 50%;
}

.section-recomended-jobs .job-card {
    border-radius: 30px;
}

.section-recomended-jobs .job-card .tag {
    top: 0;
    right: 0;
    padding: 10px 30px;
    background-color: #009100;
    color: #fff;
    border-radius: 0 30px 0 30px;
}

.section-recomended-jobs .job-card img {
    max-width: 120px;
    height: 120px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
    margin-bottom: 1.25rem;
}

.section-recomended-jobs .job-card .job-body .job-title {
    font-weight: 500;
    font-size: 1.25rem;
    color: #16272f;
}

.section-recomended-jobs .job-card .job-body .job-company,
.section-recomended-jobs .job-card .job-body .job-locations {
    font-size: 1rem;
}

.section-recomended-jobs .job-card .job-body .job-locations {
    color: #828282;
}

.section-recomended-jobs .job-card .job-body .job-date {
    font-size: .725rem;
}

.section-recomended-jobs,
.section-job-category,
.section-company {
    padding-bottom: 7rem;
}

.section-recomended-jobs .text-title,
.section-job-category .text-title,
.section-company .text-title {
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.section-recomended-jobs .text-title h2,
.section-job-category .text-title h2,
.section-company .text-title h2 {
    font-weight: 600;
    font-size: 2.25rem;
}

.section-recomended-jobs .owl-prev,
.section-recomended-jobs .owl-next,
.section-job-category .owl-prev,
.section-job-category .owl-next,
.section-company .owl-prev,
.section-company .owl-next {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block !important;
    border: none;
    background-color: #f55151 !important;
}

.section-recomended-jobs .owl-prev,
.section-job-category .owl-prev,
.section-company .owl-prev {
    left: -1rem;
}

.section-recomended-jobs .owl-next,
.section-job-category .owl-next,
.section-company .owl-next {
    right: -1rem;
}

.section-recomended-jobs .owl-prev i,
.section-recomended-jobs .owl-next i,
.section-job-category .owl-prev i,
.section-job-category .owl-next i,
.section-company .owl-prev i,
.section-company .owl-next i {
    color: #fff;
}

.section-company img {
    -o-object-fit: scale-down;
    object-fit: scale-down;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.section-form-report .report-card {
    border-radius: 30px;
    padding: 4rem;
}

.section-footer {
    background-color: #454545;
    color: #fff;
}

footer {
    border-top: 0;
    background-color: #454545;
    color: #fff;
}

.footer-2-3 .list-space {
    margin-bottom: 1.25rem;
}

.footer-2-3 .footer-text-title {
    font: 600 1.5rem Poppins, sans-serif;
    margin-bottom: 1.5rem;
}

.footer-2-3 .list-menu {
    color: #fff;
}

.footer-2-3 .list-menu:hover {
    color: #ffffff;
}

.footer-2-3 hr.hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #2e2e5a;
}

.footer-2-3 .border-color {
    color: #707092;
}

.footer-2-3 .footer-link {
    color: #fff;
}

.footer-2-3 .footer-link:hover {
    color: #ffffff;
}

.footer-2-3 .social-media-c:hover circle,
.footer-2-3 .social-media-p:hover path {
    fill: #ffffff;
}

.footer-2-3 .footer-info-space {
    padding-top: 3rem;
}

.footer-2-3 .list-footer {
    padding: 5rem 1rem 3rem 1rem;
}

.footer-2-3 .info-footer {
    padding: 0 1rem 3rem;
}

.owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 575px) {
    .navbar-light .navbar-nav .nav-link {
        color: #16272f;
    }

    .navbar-light .navbar-nav .nav-link.active {
        position: relative;
        font-weight: 600;
        color: #16272f;
    }

    .navbar-light .navbar-nav .nav-link.active::before {
        content: "";
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 0;
        height: 0px;
        width: 50%;
        border-bottom: none;
    }

    .nav-container .navbar {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .section-recomended-jobs .job-carousel {
        padding: 0;
    }

    .section-recomended-jobs .job-carousel .owl-nav {
        display: none;
    }

    header {
        padding: 100px 0 155px;
    }

    header .text-header {
        font-size: 2.25rem;
    }

    header .search-box {
        width: 100%;
    }

    header .search-box .input-group .search-input {
        height: 3rem;
        font-size: 16px;
    }

    header .search-box .input-group .btn-search {
        padding: 0 12px;
    }

    .footer-2-3 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 2rem 3rem;
    }

    .section-recomended-jobs,
    .section-job-category,
    .section-company,
    .section-form-report {
        padding-bottom: 2rem;
    }

    .section-form-report .report-card {
        padding: 2rem;
    }

    .section-form-report .report-card .text-title {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .section-form-report .btn-green {
        width: 100%;
    }
}

@media (min-width: 576px) {

    .section-recomended-jobs,
    .section-job-category,
    .section-company,
    .section-form-report {
        padding-bottom: 2rem;
    }

    .section-recomended-jobs .job-carousel {
        padding: 0;
    }

    .nav-container {
        background: #ffffff;
    }

    .nav-container .navbar {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #16272f;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #16272f;
        position: relative;
        font-weight: 600;
    }

    .navbar-light .navbar-nav .nav-link.active::before {
        border-bottom: none;
    }

    header .text-header {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 1.25rem;
    }

    .section-recomended-jobs .job-carousel .owl-nav {
        display: none;
    }

    .footer-2-3 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 2rem 3rem;
    }

    .section-form-report .report-card {
        padding: 2rem;
    }

    .section-form-report .btn-green {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .footer-2-3 .list-footer {
        padding: 5rem 4rem 6rem 4rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 4rem 3rem;
    }

    .section-form-report .report-card {
        padding: 3rem !important;
    }

    .section-form-report .btn-green {
        width: unset;
    }
}

@media (min-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar-light .navbar-nav .nav-link.profile:hover {
        font-weight: normal;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff;
        font-weight: 600;
    }

    .navbar-light .navbar-nav .nav-link:visited {
        color: #fff;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #fff;
        position: relative;
        font-weight: 600;
    }

    .navbar-light .navbar-nav .nav-link.active::before {
        border-bottom: 2px solid #ff7468;
    }

    .nav-container {
        background-color: transparent;
        position: relative;
        z-index: 1;
    }

    header {
        margin-top: -120px;
    }

    header .text-header {
        font-size: 3.75rem;
        line-height: 1.25;
    }

    .section-recomended-jobs .job-carousel {
        padding: 0 30px;
    }

    .section-recomended-jobs .job-carousel .owl-nav {
        display: block;
    }

    .footer-2-3 .list-footer {
        padding: 5rem 6rem 6rem 6rem;
    }

    .footer-2-3 .info-footer {
        padding: 0 6rem 3rem;
    }

    .section-recomended-jobs,
    .section-job-category,
    .section-company,
    .section-form-report {
        padding-bottom: 7rem;
    }
}

/*# sourceMappingURL=main.css.map */
